public/causes.html
<!DOCTYPE html><html lang="es"><head><title>Causas&nbsp;|&nbsp;Cinca</title><meta content="width=device-width, initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/png" href="img/favicon.png"><meta property="title" content="Cinca® | Productos saludables hechos con amor"><meta property="description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:site_name" content="Cinca"><meta property="og:title" content="Cinca® | Productos saludables hechos con amor"><meta property="og:description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:image" content="img/og_image.jpg"><!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=G-XTC12HPMZH"></script><script>window.dataLayer = window.dataLayer || [];
function gtag() {
    dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-XTC12HPMZH');</script><!-- End Global site tag (gtag.js) - Google Analytics -->
<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1138587406624490');
fbq('track', 'PageView');</script><!-- End Facebook Pixel Code --><link href="css/index.css" rel="stylesheet"></head><body><div id="page"><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo-white.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link" href="/index.html#love"><span class="bar">Cinca</span></a></div><div class="nav-option"><a class="nav-option-link" href="/products.html"><span class="bar">Productos</span></a></div><div class="nav-option"><a class="nav-option-link" href="/sale.html"><span class="bar">Puntos de Venta</span></a></div><div class="nav-option"><a class="nav-option-link" href="/causes.html"><span class="bar">Causas</span></a></div><div class="nav-option"><a class="nav-option-link" href="/index.html#contact"><span>Contacto</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="/index.html#love"><span class="hamburger-text">Cinca</span></a></div><div class="hamburger-text-container"><a href="/products.html"><span class="hamburger-text">Productos</span></a></div><div class="hamburger-text-container"><a href="/sale.html"><span class="hamburger-text">Puntos de Venta</span></a></div><div class="hamburger-text-container"><a href="/causes.html"><span class="hamburger-text">Causas</span></a></div><div class="hamburger-text-container"><a href="/index.html#contact"><span class="hamburger-text">Contacto</span></a></div></div></div></div></div></nav><div class="page-content"><div class="causes container"><h1 class="causes-title"><figure><img src="img/logo-black.png"></figure><span>con causa</span></h1><div class="causes-content"><div><p>En Cinca ® queremos aportar mas a la sociedad en la que vivimos, por ello nos llena de orgullo
que cada uno de nuestros productos aporte un granito de arena a diferentes causas.</p><p>Para nosotros todo vale la pena si somos capaces de hacer una pequeña diferencia en
la vida de un solo ser.</p></div><figure><img src="img/causes.png"></figure></div></div></div><footer class="footer"><span> CINCA ® 2021 | Todos los Derechos Reservados</span></footer></div><script type="text/javascript" src="js/index.js"></script></body></html>

src/templates/pages/causes.pug
extends ../base.pug

append title
  | Causas
append content
  .causes.container
    h1.causes-title
      figure
        img(src="img/logo-black.png")
      span con causa
    .causes-content
      div
        p
          | En Cinca ® queremos aportar mas a la sociedad en la que vivimos, por ello nos llena de orgullo
          | que cada uno de nuestros productos aporte un granito de arena a diferentes causas.
        p
          | Para nosotros todo vale la pena si somos capaces de hacer una pequeña diferencia en
          | la vida de un solo ser.
      figure
        img(src="img/causes.png")
