src/templates/pages/index.pug
extends ../base.pug

append head_scripts
  script(src="https://www.google.com/recaptcha/api.js?render")
append title
  | Inicio
append content
  .home
    .home-banner
      img(src="img/banner.png")
    .home-mosaic
      .home-mosaic-big.home-mosaic-products
        .layer
        a(href="/products.html")
          span Productos
      .home-mosaic-big.home-mosaic-video
        video(
          autoplay playsinline loop muted
          preload="metadata"
          src="https://res.cloudinary.com/zerocloud/video/upload/v1620352582/home-video-3_bgajky.mp4"
          poster="img/video-home-cover.png"
        )
          source(src="https://res.cloudinary.com/zerocloud/video/upload/v1620352582/home-video-3_bgajky.mp4", type='video/mp4')
      .home-mosaic-small
        figure
          img(src="img/home-venta.png")
        .home-mosaic-link
          a(href="/sale.html").sell
            span Puntos<br>de Venta
      .home-mosaic-small.home-mosaic-image-chips
      .home-mosaic-small
        figure
          img(src="img/home-contacto.png")
        .home-mosaic-link
          a(href="#contact").contact
            span Contacto
      .home-mosaic-small.home-mosaic-image-chipotle
      .home-mosaic-small
        figure
          img(src="img/home-recetario.png")
        .home-mosaic-link
          a(href="/recipes.html").recipes
            span Recetas
    .home-info#love
      .layer
      .home-info-text
        p
          | <span>Cinca<sup>®</sup></span> nace de la <strong>unión</strong>, del <strong>amor</strong> y del
          | <strong>trabajo duro</strong>. Sus cimientos residen en <strong>cuatro manos</strong> y
          | <strong>apoyo mutuo</strong>, por eso reconocemos el esfuerzo que conlleva lograr tus
          | objetivos, sean cuales sean. Así, mientras logramos nuestras propias <strong>metas</strong>
          | y <strong>sueños</strong>, hemos encontrado la forma de <strong>acompañarte</strong> y
          | <strong>facilitarte</strong> el camino a una <strong>vida más saludable</strong>.
        p
          | <span>Cinca<sup>®</sup></span> esta <strong>hecho con amor</strong>, al igual que cada uno de
          | nuestros productos; porque al final, <span>Cinca<sup>®</sup></span> es más que <strong>productos
          | saludables de alta calidad</strong>, <span>Cinca<sup>®</sup></span> son <strong>dos personas</strong>
          | que se convirtieron en <strong>decenas</strong>, construyendo una marca que hoy ha
          | <strong>trascendido fronteras, hogares</strong> y muchos <strong>corazones</strong>.
      figure.home-info-image
        img(src="img/made-with-love-purple.png")
    .home-actions
      .home-actions-social
        h1 Contacto
        p <i class="icon-envelope contact-icon"></i> marketing@cinca.com.mx
        p ¿Te gustaria ser proveedor?
        p <i class="icon-envelope contact-icon"></i> proveedores@cinca.com.mx
        p
          | Teléfonos: <br>
          | <i class="icon-phone-alt contact-icon"></i>5543540132 <br>
          | <i class="icon-phone-alt contact-icon"></i>5565145853
        p
          a(href="https://www.facebook.com/cincamx" target="_blank").icon
            i.icon-facebook
          a(href="https://www.instagram.com/cincamx/" target="_blank").icon
            i.icon-instagram
      #contact.home-actions-form
        form#contactForm(method="POST" action="https://formspree.io/f/xdoyalpv")
          label(for="name") Nombre *
          input(type="text" id="name" name="Nombre" required)
          label(for="email") Correo Electrónico *
          input(type="email" id="email" name="Email" required)
          label(for="phone") Teléfono
          input(type="text" id="phone" name="Telefono" required)
          label(for="message") Mensaje *
          input(type="hidden" name="_subject" value="Nuevo Contacto desde Pagina Web")
          textarea(id="message" name="Mensaje" required)
          div.g-recaptcha(data-sitekey="6LfFacQaAAAAACZ0K8ivNnH_-lGnu2X5f7w2uBrB" )
          p#contactFormStatus Pendiente
          button#contactFormBtn Enviar

public/index.html
<!DOCTYPE html><html lang="es"><head><title>Inicio&nbsp;|&nbsp;Cinca</title><meta content="width=device-width, initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/png" href="img/favicon.png"><meta property="title" content="Cinca® | Productos saludables hechos con amor"><meta property="description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:site_name" content="Cinca"><meta property="og:title" content="Cinca® | Productos saludables hechos con amor"><meta property="og:description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:image" content="img/og_image.jpg"><!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=G-XTC12HPMZH"></script><script>window.dataLayer = window.dataLayer || [];
function gtag() {
    dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-XTC12HPMZH');</script><!-- End Global site tag (gtag.js) - Google Analytics -->
<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1138587406624490');
fbq('track', 'PageView');</script><!-- End Facebook Pixel Code --><script src="https://www.google.com/recaptcha/api.js?render"></script><link href="css/index.css" rel="stylesheet"></head><body><div id="page"><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo-white.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link" href="/index.html#love"><span class="bar">Cinca</span></a></div><div class="nav-option"><a class="nav-option-link" href="/products.html"><span class="bar">Productos</span></a></div><div class="nav-option"><a class="nav-option-link" href="/sale.html"><span class="bar">Puntos de Venta</span></a></div><div class="nav-option"><a class="nav-option-link" href="/causes.html"><span class="bar">Causas</span></a></div><div class="nav-option"><a class="nav-option-link" href="/index.html#contact"><span>Contacto</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="/index.html#love"><span class="hamburger-text">Cinca</span></a></div><div class="hamburger-text-container"><a href="/products.html"><span class="hamburger-text">Productos</span></a></div><div class="hamburger-text-container"><a href="/sale.html"><span class="hamburger-text">Puntos de Venta</span></a></div><div class="hamburger-text-container"><a href="/causes.html"><span class="hamburger-text">Causas</span></a></div><div class="hamburger-text-container"><a href="/index.html#contact"><span class="hamburger-text">Contacto</span></a></div></div></div></div></div></nav><div class="page-content"><div class="home"><div class="home-banner"><img src="img/banner.png"></div><div class="home-mosaic"><div class="home-mosaic-big home-mosaic-products"><div class="layer"></div><a href="/products.html"><span>Productos</span></a></div><div class="home-mosaic-big home-mosaic-video"><video autoplay playsinline loop muted preload="metadata" src="https://res.cloudinary.com/zerocloud/video/upload/v1620352582/home-video-3_bgajky.mp4" poster="img/video-home-cover.png"><source src="https://res.cloudinary.com/zerocloud/video/upload/v1620352582/home-video-3_bgajky.mp4" type="video/mp4"></video></div><div class="home-mosaic-small"><figure><img src="img/home-venta.png"></figure><div class="home-mosaic-link"><a class="sell" href="/sale.html"><span>Puntos<br>de Venta</span></a></div></div><div class="home-mosaic-small home-mosaic-image-chips"></div><div class="home-mosaic-small"><figure><img src="img/home-contacto.png"></figure><div class="home-mosaic-link"><a class="contact" href="#contact"><span>Contacto</span></a></div></div><div class="home-mosaic-small home-mosaic-image-chipotle"></div><div class="home-mosaic-small"><figure><img src="img/home-recetario.png"></figure><div class="home-mosaic-link"><a class="recipes" href="/recipes.html"><span>Recetas</span></a></div></div></div><div class="home-info" id="love"><div class="layer"></div><div class="home-info-text"><p><span>Cinca<sup>®</sup></span> nace de la <strong>unión</strong>, del <strong>amor</strong> y del
<strong>trabajo duro</strong>. Sus cimientos residen en <strong>cuatro manos</strong> y
<strong>apoyo mutuo</strong>, por eso reconocemos el esfuerzo que conlleva lograr tus
objetivos, sean cuales sean. Así, mientras logramos nuestras propias <strong>metas</strong>
y <strong>sueños</strong>, hemos encontrado la forma de <strong>acompañarte</strong> y
<strong>facilitarte</strong> el camino a una <strong>vida más saludable</strong>.</p><p><span>Cinca<sup>®</sup></span> esta <strong>hecho con amor</strong>, al igual que cada uno de
nuestros productos; porque al final, <span>Cinca<sup>®</sup></span> es más que <strong>productos
saludables de alta calidad</strong>, <span>Cinca<sup>®</sup></span> son <strong>dos personas</strong>
que se convirtieron en <strong>decenas</strong>, construyendo una marca que hoy ha
<strong>trascendido fronteras, hogares</strong> y muchos <strong>corazones</strong>.</p></div><figure class="home-info-image"><img src="img/made-with-love-purple.png"></figure></div><div class="home-actions"><div class="home-actions-social"><h1>Contacto</h1><p><i class="icon-envelope contact-icon"></i> marketing@cinca.com.mx</p><p>¿Te gustaria ser proveedor?</p><p><i class="icon-envelope contact-icon"></i> proveedores@cinca.com.mx</p><p>Teléfonos: <br>
<i class="icon-phone-alt contact-icon"></i>5543540132 <br>
<i class="icon-phone-alt contact-icon"></i>5565145853</p><p><a class="icon" href="https://www.facebook.com/cincamx" target="_blank"><i class="icon-facebook"></i></a><a class="icon" href="https://www.instagram.com/cincamx/" target="_blank"><i class="icon-instagram"></i></a></p></div><div class="home-actions-form" id="contact"><form id="contactForm" method="POST" action="https://formspree.io/f/xdoyalpv"><label for="name">Nombre *</label><input type="text" id="name" name="Nombre" required><label for="email">Correo Electrónico *</label><input type="email" id="email" name="Email" required><label for="phone">Teléfono</label><input type="text" id="phone" name="Telefono" required><label for="message">Mensaje *</label><input type="hidden" name="_subject" value="Nuevo Contacto desde Pagina Web"><textarea id="message" name="Mensaje" required></textarea><div class="g-recaptcha" data-sitekey="6LfFacQaAAAAACZ0K8ivNnH_-lGnu2X5f7w2uBrB"></div><p id="contactFormStatus">Pendiente</p><button id="contactFormBtn">Enviar</button></form></div></div></div></div><footer class="footer"><span> CINCA ® 2021 | Todos los Derechos Reservados</span></footer></div><script type="text/javascript" src="js/index.js"></script></body></html>
