public/products.html
<!DOCTYPE html><html lang="es"><head><title>Productos&nbsp;|&nbsp;Cinca</title><meta content="width=device-width, initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/png" href="img/favicon.png"><meta property="title" content="Cinca® | Productos saludables hechos con amor"><meta property="description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:site_name" content="Cinca"><meta property="og:title" content="Cinca® | Productos saludables hechos con amor"><meta property="og:description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:image" content="img/og_image.jpg"><!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=G-XTC12HPMZH"></script><script>window.dataLayer = window.dataLayer || [];
function gtag() {
    dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-XTC12HPMZH');</script><!-- End Global site tag (gtag.js) - Google Analytics -->
<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1138587406624490');
fbq('track', 'PageView');</script><!-- End Facebook Pixel Code --><link href="css/index.css" rel="stylesheet"></head><body><div id="page"><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo-white.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link" href="/index.html#love"><span class="bar">Cinca</span></a></div><div class="nav-option"><a class="nav-option-link" href="/products.html"><span class="bar">Productos</span></a></div><div class="nav-option"><a class="nav-option-link" href="/sale.html"><span class="bar">Puntos de Venta</span></a></div><div class="nav-option"><a class="nav-option-link" href="/causes.html"><span class="bar">Causas</span></a></div><div class="nav-option"><a class="nav-option-link" href="/index.html#contact"><span>Contacto</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="/index.html#love"><span class="hamburger-text">Cinca</span></a></div><div class="hamburger-text-container"><a href="/products.html"><span class="hamburger-text">Productos</span></a></div><div class="hamburger-text-container"><a href="/sale.html"><span class="hamburger-text">Puntos de Venta</span></a></div><div class="hamburger-text-container"><a href="/causes.html"><span class="hamburger-text">Causas</span></a></div><div class="hamburger-text-container"><a href="/index.html#contact"><span class="hamburger-text">Contacto</span></a></div></div></div></div></div></nav><div class="page-content"><div class="products container"><div class="products-banner"><h1>Nuestros Productos</h1><h2>En Cinca cuidamos de ti, por ello estamos comprometidos a brindarte productos de
alta calidad elaborados con ingredientes 100% naturales para que puedas disfrutar
de tus platillos favoritos sin culpa y <img src="img/logo-black.png">mbiar tu antojo</h2></div><div class="products-container"><div class="products-item"><a href="/totopos-2.html"><figure><img src="img/products-cover-totopos-2.png"></figure><p>Nuestro tradicionales <span>totopos</span> ¡Ahora con proteína vegetal!</p></a></div><div class="products-item"><a href="/tortillas.html"><figure><img src="img/products-cover-tortilla.png"></figure><p>Suavecitas y deliciosas, ¿Ya probaste nuestras <span>tortillas</span>?</p></a></div><div class="products-item"><a href="/totopos.html"><figure><img src="img/products-cover-totopos.jpg"></figure><p>¿Ya estas pensando en chilaquiles saludables? <br> Prepara tus platillos favoritos en
su bersión mas saludable con estos crujientes y deliciosos <span>totopos</span>.</p></a></div><div class="products-item"><a href="/heartopos.html"><figure><img src="img/products-cover-heartopos.jpg"></figure><p>Que tu ingrediente secreto sea el amor hecho <span>totopo</span>.</p></a></div><div class="products-item"><a href="/tostadas.html"><figure><img src="img/products-cover-tostadas.jpg"></figure><p>Deliciosas, crujientes, horneadas y llenas de oportunidades para que acompañes tus
comidas favoritas.</p></a></div><div class="products-item-multiple"><div class="products-item-multiple-images"><a href="/meteorito.html"><figure><img src="img/products-cover-chips-chile.jpg"></figure></a><a href="/chipotle.html"><figure><img src="img/products-cover-chips-chipotle.jpg"></figure></a></div><div class="products-item-multiple-text">¿Botanear sin culpa? Cinca te entiende y tenemos dos opciones para tu antojo picosito.</div></div></div></div></div><footer class="footer"><span> CINCA ® 2021 | Todos los Derechos Reservados</span></footer></div><script type="text/javascript" src="js/index.js"></script></body></html>

src/templates/pages/products.pug
extends ../base.pug

append title
  | Productos
append content
  .products.container
    .products-banner
      h1 Nuestros Productos
      h2
        | En Cinca cuidamos de ti, por ello estamos comprometidos a brindarte productos de
        | alta calidad elaborados con ingredientes 100% naturales para que puedas disfrutar
        | de tus platillos favoritos sin culpa y <img src="img/logo-black.png">mbiar tu antojo
    .products-container
      .products-item
        a(href="/totopos-2.html")
          figure
            img(src="img/products-cover-totopos-2.png")
          p
            | Nuestro tradicionales <span>totopos</span> ¡Ahora con proteína vegetal!
      .products-item
        a(href="/tortillas.html")
          figure
            img(src="img/products-cover-tortilla.png")
          p
            | Suavecitas y deliciosas, ¿Ya probaste nuestras <span>tortillas</span>?
      .products-item
        a(href="/totopos.html")
          figure
            img(src="img/products-cover-totopos.jpg")
          p
            | ¿Ya estas pensando en chilaquiles saludables? <br> Prepara tus platillos favoritos en
            | su bersión mas saludable con estos crujientes y deliciosos <span>totopos</span>.
      .products-item
        a(href="/heartopos.html")
          figure
            img(src="img/products-cover-heartopos.jpg")
          p Que tu ingrediente secreto sea el amor hecho <span>totopo</span>.
      .products-item
        a(href="/tostadas.html")
          figure
            img(src="img/products-cover-tostadas.jpg")
          p
            | Deliciosas, crujientes, horneadas y llenas de oportunidades para que acompañes tus
            | comidas favoritas.
      .products-item-multiple
        .products-item-multiple-images
          a(href="/meteorito.html")
            figure
              img(src="img/products-cover-chips-chile.jpg")
          a(href="/chipotle.html")
            figure
              img(src="img/products-cover-chips-chipotle.jpg")
        .products-item-multiple-text
          | ¿Botanear sin culpa? Cinca te entiende y tenemos dos opciones para tu antojo picosito.
