public/totopos-2.html
<!DOCTYPE html><html lang="es"><head><title>Totopos de Coliflor&nbsp;|&nbsp;Cinca</title><meta content="width=device-width, initial-scale=1" name="viewport"><meta charset="utf-8"><link rel="icon" type="image/png" href="img/favicon.png"><meta property="title" content="Cinca® | Productos saludables hechos con amor"><meta property="description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:site_name" content="Cinca"><meta property="og:title" content="Cinca® | Productos saludables hechos con amor"><meta property="og:description" content="Productos saludables elaborados con ingredientes naturales de alta calidad y gran valor nutricional que te acompañan en tu camino a una vida más saludable."><meta property="og:image" content="img/og_image.jpg"><!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=G-XTC12HPMZH"></script><script>window.dataLayer = window.dataLayer || [];
function gtag() {
    dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-XTC12HPMZH');</script><!-- End Global site tag (gtag.js) - Google Analytics -->
<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1138587406624490');
fbq('track', 'PageView');</script><!-- End Facebook Pixel Code --><link href="css/index.css" rel="stylesheet"></head><body><div id="page"><nav class="nav"><div class="nav-container"><div class="nav-logo-container"><a href="/index.html"><img class="nav-logo" src="img/logo-white.png" alt="Navbar logo"></a></div><div class="nav-option-wrapper"><div class="nav-option"><a class="nav-option-link" href="/index.html#love"><span class="bar">Cinca</span></a></div><div class="nav-option"><a class="nav-option-link" href="/products.html"><span class="bar">Productos</span></a></div><div class="nav-option"><a class="nav-option-link" href="/sale.html"><span class="bar">Puntos de Venta</span></a></div><div class="nav-option"><a class="nav-option-link" href="/causes.html"><span class="bar">Causas</span></a></div><div class="nav-option"><a class="nav-option-link" href="/index.html#contact"><span>Contacto</span></a></div></div><div class="hamburger-wrapper"><div class="hamburger-line-container" id="hamburgerMenu"><div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div></div></div><div class="hamburger-menu-container" id="menuContainer"><div class="hamburger-menu"><div class="hamburger-menu-header"><a id="hideHamburger"><img src="img/close.svg"></a></div><div class="hamburger-menu-body"><div class="hamburger-text-container"><a href="/index.html#love"><span class="hamburger-text">Cinca</span></a></div><div class="hamburger-text-container"><a href="/products.html"><span class="hamburger-text">Productos</span></a></div><div class="hamburger-text-container"><a href="/sale.html"><span class="hamburger-text">Puntos de Venta</span></a></div><div class="hamburger-text-container"><a href="/causes.html"><span class="hamburger-text">Causas</span></a></div><div class="hamburger-text-container"><a href="/index.html#contact"><span class="hamburger-text">Contacto</span></a></div></div></div></div></div></nav><div class="page-content"><div class="modal" id="modalOne"><div class="modal-content product-detail-modal"><span class="close-modal" onclick="document.getElementById('modalOne').style.display='none'">&times</span><object type="application/pdf" data="/pdfs/hiperpro-gluten.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0&amp;messages=0&amp;scrollbar=0"><p>Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p></p></object></div></div><div class="modal" id="modalTwo"><div class="modal-content product-detail-modal"><span class="close-modal" onclick="document.getElementById('modalTwo').style.display='none'">&times</span><object type="application/pdf" data="/pdfs/hiperpro-ogm.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0&amp;messages=0&amp;scrollbar=0"><p>Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p></p></object></div></div><div class="modal" id="modalThree"><div class="modal-content product-detail-modal"><span class="close-modal" onclick="document.getElementById('modalThree').style.display='none'">&times</span><object type="application/pdf" data="/pdfs/hiperpro-pesticidas.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0&amp;messages=0&amp;scrollbar=0"><p>Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p></p></object></div></div><div class="modal" id="modalFour"><div class="modal-content product-detail-modal"><span class="close-modal" onclick="document.getElementById('modalFour').style.display='none'">&times</span><object type="application/pdf" data="/pdfs/hiperpro-toxinas.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0&amp;messages=0&amp;scrollbar=0"><p>Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-metales.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p></p></object></div></div><div class="modal" id="modalFive"><div class="modal-content product-detail-modal"><span class="close-modal" onclick="document.getElementById('modalFive').style.display='none'">&times</span><object type="application/pdf" data="/pdfs/hiperpro-metales.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0&amp;messages=0&amp;scrollbar=0"><p>Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p></p></object></div></div><div class="modal" id="modalSix"><div class="modal-content product-detail-modal"><span class="close-modal" onclick="document.getElementById('modalSix').style.display='none'">&times</span><object type="application/pdf" data="/pdfs/hiperpro-soya.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0&amp;messages=0&amp;scrollbar=0"><p>Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p></p></object></div></div><div class="product-detail container"><h1 class="product-detail-title"><span>Totopos de Coliflor</span> <br class='show'> con proteina vegetal</h1><figure class="product-detail-image"><img class="desktop" src="img/products-detail-totopos-2.png"><img class="mobile" src="img/products-detail-totopos-2-mobile.png"></figure><div class="product-detail-stamps"><img src="img/sello-2-gluten.png" onclick="document.getElementById('modalOne').style.display='flex'"><img src="img/sello-2-ogm.png" onclick="document.getElementById('modalTwo').style.display='flex'"><img src="img/sello-2-pesticidas.png" onclick="document.getElementById('modalThree').style.display='flex'"><img src="img/sello-2-toxinas.png" onclick="document.getElementById('modalFour').style.display='flex'"><img src="img/sello-2-metales.png" onclick="document.getElementById('modalFive').style.display='flex'"><img src="img/sello-2-soya.jpeg" onclick="document.getElementById('modalSix').style.display='flex'"></div></div></div><footer class="footer"><span> CINCA ® 2021 | Todos los Derechos Reservados</span></footer></div><script type="text/javascript" src="js/index.js"></script></body></html>

src/templates/pages/totopos-2.pug
extends ../base.pug

append title
  | Totopos de Coliflor
append content
  #modalOne.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalOne').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-gluten.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalTwo.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalTwo').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-ogm.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalThree.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalThree').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-pesticidas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>

  #modalFour.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalFour').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-metales.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>
  #modalFive.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalFive').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-metales.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>

  #modalSix.modal
    .modal-content.product-detail-modal
      span.close-modal(onclick="document.getElementById('modalSix').style.display='none'") &times
      object(type="application/pdf" data="/pdfs/hiperpro-soya.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0")
        p Parece que tu navegador no soporta el plugin PDF <a target="_blank" href="/pdfs/hiperpro-toxinas.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0">Haga clic aquí para descargar el archivo PDF</a></p>

  .product-detail.container
    h1.product-detail-title <span>Totopos de Coliflor</span> <br class='show'> con proteina vegetal
    figure.product-detail-image
      img.desktop(src="img/products-detail-totopos-2.png")
      img.mobile(src="img/products-detail-totopos-2-mobile.png")
    .product-detail-stamps
      img(src="img/sello-2-gluten.png" onclick="document.getElementById('modalOne').style.display='flex'")
      img(src="img/sello-2-ogm.png" onclick="document.getElementById('modalTwo').style.display='flex'")
      img(src="img/sello-2-pesticidas.png" onclick="document.getElementById('modalThree').style.display='flex'")
      img(src="img/sello-2-toxinas.png" onclick="document.getElementById('modalFour').style.display='flex'")
      img(src="img/sello-2-metales.png" onclick="document.getElementById('modalFive').style.display='flex'")
      img(src="img/sello-2-soya.jpeg" onclick="document.getElementById('modalSix').style.display='flex'")
